[Unit]
Description=Mount unit for core

[Mount]
What=/var/lib/snapd/snaps/core_1577.snap
Where=/snap/core/1577
Type=squashfs

[Install]
WantedBy=multi-user.target
