[Unit]
Description=Mount unit for core

[Mount]
What=/var/lib/snapd/snaps/core_1337.snap
Where=/snap/core/1337
Type=squashfs

[Install]
WantedBy=multi-user.target
