[Unit]
Description=Mount unit for core

[Mount]
What=/var/lib/snapd/snaps/core_1079.snap
Where=/snap/core/1079
Type=squashfs

[Install]
WantedBy=multi-user.target
