[Unit]
Description=Mount unit for canonical-livepatch

[Mount]
What=/var/lib/snapd/snaps/canonical-livepatch_26.snap
Where=/snap/canonical-livepatch/26
Type=squashfs
Options=nodev,ro

[Install]
WantedBy=multi-user.target
