[Unit]
Description=Mount unit for core

[Mount]
What=/var/lib/snapd/snaps/core_2898.snap
Where=/snap/core/2898
Type=squashfs
Options=nodev,ro

[Install]
WantedBy=multi-user.target
