[Unit]
Description=Mount unit for canonical-livepatch

[Mount]
What=/var/lib/snapd/snaps/canonical-livepatch_17.snap
Where=/snap/canonical-livepatch/17
Type=squashfs

[Install]
WantedBy=multi-user.target
