[Unit]
Description=Mount unit for core

[Mount]
What=/var/lib/snapd/snaps/core_2844.snap
Where=/snap/core/2844
Type=squashfs
Options=nodev,ro

[Install]
WantedBy=multi-user.target
