[Unit]
Description=Mount unit for core

[Mount]
What=/var/lib/snapd/snaps/core_1441.snap
Where=/snap/core/1441
Type=squashfs

[Install]
WantedBy=multi-user.target
