[Unit]
Description=Mount unit for core

[Mount]
What=/var/lib/snapd/snaps/core_3017.snap
Where=/snap/core/3017
Type=squashfs
Options=nodev,ro

[Install]
WantedBy=multi-user.target
