[Unit]
Description=Mount unit for canonical-livepatch

[Mount]
What=/var/lib/snapd/snaps/canonical-livepatch_25.snap
Where=/snap/canonical-livepatch/25
Type=squashfs
Options=nodev,ro

[Install]
WantedBy=multi-user.target
