[Unit]
Description=Mount unit for core

[Mount]
What=/var/lib/snapd/snaps/core_1512.snap
Where=/snap/core/1512
Type=squashfs

[Install]
WantedBy=multi-user.target
