[Unit]
Description=Mount unit for core

[Mount]
What=/var/lib/snapd/snaps/core_1240.snap
Where=/snap/core/1240
Type=squashfs

[Install]
WantedBy=multi-user.target
