[Unit]
Description=Mount unit for canonical-livepatch

[Mount]
What=/var/lib/snapd/snaps/canonical-livepatch_21.snap
Where=/snap/canonical-livepatch/21
Type=squashfs

[Install]
WantedBy=multi-user.target
